/* include padding/margin in your width declarations */
* {
    box-sizing: border-box;  
}

/* basic spacing */
body {
    padding: 1em;     /* avoid crowding content against the edges */
}

/* make the appearance less "default".
   Note that this is a light theme; you could also make a dark theme by reversing the colors. */
body {
    font-family: sans-serif; /* for body text on a screen, sans-serifs are often easier to read */
    color: #333;             /* pull back from hard black */
    background-color: #ddd;  /* pull back from hard white */
}

/* Use this class on section, article, or div elements
   to keep text lines from getting too long to comfortably read */
.wrapper {
    max-width: 50em;  
}

/* keep images from overflowing the viewport */
img {
    max-height: 100vh;
    max-width: 100vw;
}


/*---------------------------------------------------------------------------------------------------------*/
/* This is where my CSS styling starts! */
/*---------------------------------------------------------------------------------------------------------*/

#portrait {
    display: block;
    margin: auto;
    width: 25%;
    clip-path: circle();
}

header {
    text-align: center;
}

nav {
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styling the experiences page */
/*---------------------------------------------------------------------------------------------------------*/

.experiences_section ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.experiences_section li {
    display: flex;
}

.experiences_section img {
    height: 20vw;
    width: 20vw;
    margin: 10px;
}

.experiences_section h2 {
    text-align: left;
    padding: 0px; 
    margin: 5px;
    font-size: 3vw;

}

.experiences_section h3 {
    padding: 0px; 
    margin: 5px;
    font-size: 2vw;
}

.experiences_section p {
    text-align: left;
    padding: 0px; 
    margin: 5px;
    font-size: 1.8vw;
}

.text {
    display: flex;
    flex-direction: column;
    padding: 0px; 
    margin: 0px;
}


/*---------------------------------------------------------------------------------------------------------*/
/* Styling the home page */
/*---------------------------------------------------------------------------------------------------------*/

.main_section_images {
    list-style-type: none;
    position: relative;
    width: 100%;
}

.main_section_images img {
    margin: 15px;
    width: 90%;
}

#projects {
    transform: translate(20%, -240%);
}

.main_section_images h2 {
    position: absolute;
    color: white;
    font-size: 5vw;

    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

    /* translating text */
    transform: translate(15%, -240%);
}